
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        gap: 4rem;
        background-color: rgb(17, 3, 30);
        
        .quote{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 15rem;
            padding: 4rem;
            height: 15rem;
            color: white;
            text-align: center;
            border-radius: 3rem;
            background-color: rgb(48, 9, 84);
            border: solid rgb(152, 80, 219) 1px;
            box-shadow:rgb(152, 80, 219) 0 0rem 3rem ;

            h1{
                margin: 0;
                font-weight: 600;
                text-shadow: rgb(17, 3, 30) 0 0.3rem;
            }
            p {
                text-shadow: rgb(17, 3, 30) 0 0.1rem;
            }

            img{
                filter: drop-shadow( 0 0rem 5rem rgb(152, 80, 219));;
                width: 7rem;
                height: auto;
            }
        }
    }



