
main{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: rgb(17, 3, 30);
    gap: 2rem;
    div{
        
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        padding: 3rem;
        height: auto;
        color: white;
        text-align: center;
        border-radius: 3rem;
        background-color: rgb(48, 9, 84);
        border: solid rgb(152, 80, 219) 1px;
        box-shadow:rgb(152, 80, 219) 0 0rem 5rem ;

        h1{
            margin: 0;
            font-weight: 600;
            text-shadow: rgb(17, 3, 30) 0 0.3rem;
        }
        p {
            text-shadow: rgb(17, 3, 30) 0 0.1rem;
        }

        img{
            filter: drop-shadow( 0 0rem 5rem rgb(152, 80, 219));;
            width: 10rem;
            height: auto;
        }
    }
}
